.my-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.sgds-footer>.bottom-section {
    background-color: #f5f5f5;
}

.input {
    width: 50%;
    margin: 10px;
    vertical-align: middle;
}

.select {
    margin: 10px;
    vertical-align: middle;
}

#clock-icon {
    padding-right: 5px;
}

body {
    background-color: #F4EAF3;
}

.weather-icon {
    padding-left: 5px;
    position: center;
}

.sgds-card-content {
    text-align: center;
}